{% extends '../layouts/base.html' %}
{% load humanize %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'styles/table.css' %}">

<br>
<h1 style="text-align: center; font-size: 2rem; font-weight: bold; color: #D35400;">Bảng lương chính</h1>
{% include 'partials/filter_salary.html' %}
<div class="d-flex justify-content-start">
  <select id="select-export" class="form-control text-light" style="width: 150px; background-color: #f67809; cursor: pointer;">
    <option value="">Export Salary File</option>
    <option value="csv">CSV File</option>
    <option value="json">JSON File</option>
    <option value="txt">TXT File</option>
  </select>
</div>
<br>

<table class="table table-hover table-bordered custom-border table-salary" style="border-radius: 10px; overflow: hidden;">
  <thead class="bg-tab text-white" style="background-color: #E67E22;">
    <tr>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 8%">ID</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 10%">Họ tên</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Lương cơ bản</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Số công chuẩn</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số ngày nghỉ có phép</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số công hưởng lương</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Lương ngày công</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số giờ tăng ca</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Lương tăng ca</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Thưởng chuyên cần</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số giờ đi trễ</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Phạt đi trễ</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Khấu trừ BHXH</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Thuế TNCN</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 8%">Thực lĩnh</th>
    </tr>
  </thead>
  <tbody>
    {% for sheet in sheets %}
    <tr style="transition: background-color 0.3s;">
      <td class="text-center align-middle border-cell">
        <a href="/profile/{{sheet.user__username}}/" class="link-highlight">{{ sheet.user__id }}</a>
      </td>
      <td class="text-center align-middle border-cell">
        <a href="/profile/{{sheet.user__username}}/" class="link-highlight">{{ sheet.user__first_name }} {{ sheet.user__last_name }}</a>
      </td>
      <td class="text-center align-middle border-cell">{{ sheet.total_salary }} </td>
      <td class="text-center align-middle border-cell">{{ 26 }}</td>
      <td class="text-center align-middle border-cell">{{ sheet.approved_days_off }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.att_day }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.real_salary }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.ot_sum }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.ot_sal }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.awrd }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.late_time }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.neg_sal }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.bhxh }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.tncn }} </td>
      <td class="text-center align-middle border-cell" style="color: #D35400; font-weight: bold;">{{ sheet.real_sal }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>

{% include 'partials/paginator.html' %}

<script src="{% static 'scripts/total_salary.js' %}"></script>
{% endblock %}
